/* If you are searching for spaces between divs and elements am so sorry search for both Gap and margin as Instructor said use margin but i saw that using Gap is much better and painless thanks and sorry for your effort */

@import url(https://fonts.googleapis.com/css?family=Noto+Kufi+Arabic:100,200,300,regular,500,600,700,800,900);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color: var(--body-bgc);
    direction: rtl;
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 14px;
}

i {
    color: var(--icons-clr);
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
}


/* Start Variables */

:root {
    --body-bgc: #f1f1f1;
    --nav-bgc: #444444;
    --icons-clr: #efefef;
    --trans-delay: 0.3s;
    --hover-clr: #888;
    --btn-clr-brd: #52b035;
    --black: #222222;
    --star-clr: #fa9747;
    --text-50: #777777;
    --footer-bgc: #fff;
}


/* End Variables */


/* Start NavBar */

nav {
    background-color: var(--nav-bgc);
    height: 60px;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

nav .container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

nav .container .right-naav-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container img {
    max-width: 100%;
    height: auto;
    width: 144px;
    margin-right: 10px;
}

nav .container .right-naav-container ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
}

nav .container .right-naav-container li a {
    color: var(--icons-clr);
    font-size: 1rem;
}

nav .container .right-naav-container li i {
    margin-left: 10px;
}

nav .container .left-naav-container {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

nav .container .left-naav-container i:not(.control-panel i) {
    background-color: var(--body-bgc);
    padding: 1rem;
    color: var(--nav-bgc);
    border-radius: 50%;
}

.control-panel {
    margin-left: 20px;
    display: flex;
    flex-direction: row-reverse;
    width: 18%;
    justify-content: space-between;
}

.control-panel i {
    font-size: 1rem;
    padding: 1.5rem;
}

.control-panel i:hover {
    background-color: var(--hover-clr);
}


/* End NavBar */


/* Start Header */

header {
    margin-top: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header p:not(.img-cont p) {
    font-size: 1.5rem;
    margin-bottom: 80px;
}

header .container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .container .img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 318px;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--body-bgc);
    position: relative;
    margin-bottom: 30px;
}

header .container .img-cont p {
    z-index: 1;
    font-size: 1.2rem;
    font-weight: 500;
}

header .container .img-cont::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 0;
}

.img-cont1 {
    background-image: url(../imgs/buss.jpg);
}

.img-cont2 {
    background-image: url(../imgs/dev.jpg);
}

.img-cont3 {
    background-image: url(../imgs/comm.jpg);
}

.img-cont4 {
    background-image: url(../imgs/train.jpg);
}

.img-cont5 {
    background-image: url(../imgs/vided.jpg);
}

.img-cont6 {
    background-image: url(../imgs/design.jpg);
}

.img-cont7 {
    background-image: url(../imgs/audio.jpg);
}

.img-cont8 {
    background-image: url(../imgs/trans.jpg);
}


/* End Header */


/* Start Services Section */


/* Top-of-section */

.top-of-section {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
}

.black-hov-green {
    color: var(--black);
    font-size: 1.5rem;
}

.black-hov-green:hover {
    color: var(--btn-clr-brd);
    transition: var(--trans-delay);
}

.top-of-section .show-all-btn {
    color: var(--btn-clr-brd);
    padding: 0.2rem 0.8rem;
    border: 1px solid var(--btn-clr-brd);
}

.top-of-section .show-all-btn:hover {
    color: var(--body-bgc);
    background-color: var(--btn-clr-brd);
    transition: var(--trans-delay);
}

.stars i {
    color: var(--star-clr);
}

.stars span {
    margin-right: 5px;
    color: var(--text-50);
}

.buss-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.buss-wrapper .buss img {
    max-width: 100%;
}

.main-title {
    color: var(--black);
}

.text-50 {
    color: var(--text-50);
}

.main-title:hover {
    cursor: pointer;
    color: var(--btn-clr-brd);
}

#trans .container {
    padding-bottom: 70px;
}


/* End Services Section */


/* Start Footer */

footer:not(.footertwo) {
    background-color: var(--footer-bgc);
    padding: 3rem 0;
}

footer .container {
    justify-content: space-between;
}

.styled-list {
    flex-direction: column;
    list-style-type: square;
    gap: 15px;
}

.right-col-cont,
.center-col-cont,
.left-col-cont {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

footer a {
    color: var(--black);
}

footer a:hover {
    color: var(--btn-clr-brd);
}

.payments,
.follow-us {
    display: flex;
    flex-direction: column;
}

.dflex {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.dflex i {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.facebook {
    background-color: #4267b2;
    width: 68px;
    height: 68px;
}

.twitter {
    background-color: #1da1f2;
}

.footertwo {
    font-size: 0.7rem;
    background-color: var(--body-bgc);
    padding: 1.5rem 0;
}

.footertwo ul {
    gap: 50px;
}

.footerthree {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.8rem;
}

.sec-wrapper {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 60px;
}

.sec {
    width: calc(1400px / 7);
}


/* End Footer */